<div class="message"data-id=<%= message.id %> data-check=<%= message.checked %>>
  <div class="upper-message">
    <div class="message-user">
      <%= message.user.family_name + message.user.last_name %>
    </div>
    <div class="message-date">
      <%= l message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= message.content%>
    </div>
    <%= image_tag message.image.variant(resize: '400x400'), class: 'message-image' if message.image.attached? %>
  </div>
  <% if current_user.id == message.user.id %>
    <div class="delete-btn">
      <%= link_to "削除", room_message_path(@room, message.id), method: :delete %>
    </div>
  <% end %>
</div>